* {
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 600;
  box-sizing: border-box;
}

div {
  width: 70%;
  /*height: 75%;*/
  background: #2255cc;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 15px;
  position: relative;
}

#logo {
  width: 10em;
  position: absolute;
  top: 0.5em;
  right: 1em;
}

header {
  margin-top: -1rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}